.form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 2px solid black;
    padding: 15px 10px;
    width: 300px;
}   

.input {
    width: 150px;
    margin-top: 5px;
}

.btn {
    width: 157px;
    height: 30px;
    margin-top: 10px;
}